.posts {
  text-align: center;
}
  
  #searchdate{
    min-width: 100px;
    min-height: 30px;
    padding: 5px, 0;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .newPostContent {
    background-color: #fff;
   overflow: hidden;
   margin: 0.4rem;
   padding: 0.1rem 0.2rem;
   border-radius: $border-radius-1;

}
.newPost {
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 30px;
    
    #crud {
        margin: 0px;
        text-align: center;
    }
}
input[type=text], [type=date], [type=number], select {
    min-width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  textarea {
    min-width: 500px;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }
  button  {
    border: none;
    color: $base-100;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    transition: ease 1000ms;
    border-radius: 4px;
    &:hover {
        color: white;
        background-color: $base-100;
    }
  }
  input[type="checkbox"] {
    opacity: 0;
    
  }
  
  label {
    border: none;
    color: $base-100;
    padding: 8px 25px;
    text-decoration: none;
    margin: 9px;
    cursor: pointer;
    transition: ease 1000ms;
    border-radius: 4px;
    background-color:$purple-100 ;
    user-select: none;
  }
  
  .check-with-label:checked + .label-for-check {
    color: #f8f8f8;
    background-color: black;
  }
